body
{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    margin: 0;
    padding: 0;
}

header p
{
    margin-top: 10px;
    font-size: 48px;
}

.weather-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.today
{
    font-size: 56px;
}

main
{
    width: 100%;
}

.current
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.today, .tomorrow, .after-tomorrow
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.current
{
    background-color: lightskyblue;
}

.today
{
    background-color: greenyellow;
}

.tomorrow
{
    background-color: seagreen;
}

.after-tomorrow
{
    background-color: lightseagreen;
}

.today24
{
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: repeat(1fr, 8);
}

.today-grid
{
    background-color: blue;
}