body
{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    margin: 0;
    padding: 0;
}

header p
{
    margin-top: 10px;
    font-size: 48px;
}

.weather-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.today
{
    font-size: 56px;
}

main
{
    width: 100%;
}

.current
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.today, .tomorrow, .after-tomorrow
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.current
{
    background-color: lightskyblue;
}

.today
{
    background-color: greenyellow;
}

.tomorrow
{
    background-color: seagreen;
}

.after-tomorrow
{
    background-color: lightseagreen;
}

.today-header
{
    text-align: center;
    height: min-content;
    width: 100%;
}

.today24
{
    display: grid;
    height: 600px;
    width: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 25%);
    font-size: 16px;
    color: black;
}

.weather-grid
{
    background-color: lightcyan;
    outline: 5px solid black;
    padding: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}