body
{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    margin: 0;
    padding: 0;
}

header p
{
    margin-top: 10px;
    font-size: 48px;
}

form
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
    gap: 10px;
}

.labels
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 25px;
}

button
{
    background-color: slateblue;
    color: white;
    border: 3px solid white;
    border-radius: 5%;
}

button:hover
{
    border: 3px solid black;
}

.weather-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.today
{
    font-size: 56px;
}

main
{
    width: 100%;
}

.current
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.today, .tomorrow, .after-tomorrow
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.current
{
    background-color: lightskyblue;
}

.today
{
    background-color: greenyellow;
}

.tomorrow
{
    background-color: seagreen;
}

.after-tomorrow
{
    background-color: lightseagreen;
}

.title
{
    text-align: center;
    height: min-content;
    width: 100%;
}

.container24
{
    display: grid;
    height: 600px;
    width: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 25%);
    font-size: 16px;
    color: black;
}

.weather-grid
{
    background-color: lightcyan;
    outline: 5px solid black;
    padding: 10px;
    margin-right: 5px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

footer
{
    font-size: 24px;
    background-color: slateblue;
    color: white;
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}